.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.center {
  margin: auto;
}

.NavLink {
  max-width: 80px;
  margin-right: 30px;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 21px;
}
.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Rubik";
}
.logoContainer {
  font-family: "Press_Start_2P", "Rubik";
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}